<form action="/planets" method="post">
    <label for="">Name</label>
    <input type="text" name="name">

    <label for="">Diameter</label>
    <input type="number" step="0.01" name="diameter">

    <label for="">Distance from Sun</label>
    <input type="number" step="0.01" name="distance">

    <label for="">Mass</label>
    <input type="number" step="0.01" name="mass">

    <label for="">Moons</label>
    <input type="number" step="0.01" name="moon_count">

    <label for="">image url</label>
    <input type="text" name="image_url">
    <br><br>
    <button>Create</button>
</form>