<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="main">
  <h3><a href="/">Go Home</a></h3>
  <br><br><br><br>
    <%= yield %>
  </div>

</body>
</html>
