    .main {
        width: 70%;
        margin: 100px auto;
    }

    nav {
        margin: 100px;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 20px;
        font-size: 30px;
    }

    nav ul li a {
        text-decoration: none;
        list-style-type: none;
    }

    .results-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        margin: 50px;
        padding: 10px;
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.4s;
    }
    
    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 18px 26px 0 rgba(0,0,0,0.2);
        border: 0.2px solid lightcoral;
        background-color: mistyrose;
        cursor: pointer;
    }
    
    /* Add some padding inside the card container */
    .card-container {
        padding: 2px 16px;
    }
    
    .card a {
        display: block;
        height: 100%;
        z-index: -1;
    }  


    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        margin: 100px;
    }

    .desc {
        padding: 50px;
        border: 0.5px solid black;
        border-radius: 10px;
    }
